<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cseunited.alumni.cseunited">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Splash screen -->
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
        </activity>
        <!-- Main activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DiscussActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UnitedDetailsActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuestionDetailActivity"
            android:label="@string/title_activity_question_detail"
            android:parentActivityName=".DiscussActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QueryPostActivity"
            android:label="@string/Post_Query"
            android:parentActivityName=".DiscussActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventActivity"
            android:label="Events"
            android:screenOrientation="portrait" />
        <activity android:name=".ComingSoonActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PlacementActivity"
            android:label="Placements"
            android:screenOrientation="portrait" />
        <activity android:name=".GalleryActivity"
            android:label="Gallery" />
        <activity android:name=".GalleryDetailActivity" />
    </application>

</manifest>